{% for category in categorys %}
<li >
  <a href="#" class="category"><i class="fa fa-folder fa-fw"></i> {{ category.name|e }}<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">      
      {% for page in category.pages %}
		     <li>
            <a href="{{ path('_wiki_page', { 'slug': page.slug }) }}"  class="page"><i class="fa fa-link"></i> {{ page.title }}</a>
         </li>
      {% endfor %}
      {% if is_granted('ROLE_ADMIN') %}
        <li><a class="" href="{{ path('_wiki_deleteCategory', {'id': category.id})}}" onclick="return confirm('êtes-vous sur ?')"><i class="fa fa-times text-danger"> Supprimer</i></a></li>
      {% endif %}
    </ul>
</li>
{% else %}
<li><em>0 Catégorie</em></li>
{% endfor %}
      