# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# MAC
*/.DS_Store
.DS_Store
