{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/wiki/css/login.css') }}" />
{% endblock %}

{% block title 'Demo Bundle' %}

{% block body %}


    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/wiki/js/login.js') }}"></script>
{% endblock %}
