{# src/Acme/HelloBundle/Resources/views/Default/index.html.twig #}
{% extends "WikiGeneralBundle::layout.html.twig" %}

{% block content %}
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading">{{ page.title|e }}</div>
            <div class="panel-body">{{ page.body|markdown }}</div>
            {% if is_granted('ROLE_ADMIN') %}
              <div class="panel-footer"><a class="btn btn-danger" href="{{ path('_wiki_deletePage', {'id': page.id})}}" role="button" onclick="return confirm('êtes-vous sur ?')">Supprimer</a></div>
            {% endif %}
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
          </div>
      </div>
      <!-- /.col-lg-12 -->
  </div>

{% endblock %}
