{# src/Acme/HelloBundle/Resources/views/Default/index.html.twig #}
{% extends "WikiGeneralBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ page.title|e }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
   <p>{{ page.body|markdown }}</p>
   {% if is_granted('ROLE_ADMIN') %}
     <p><a class="btn btn-danger" href="{{ path('_wiki_deletePage', {'id': page.id})}}" role="button" onclick="return confirm('êtes-vous sur ?')">Supprimer</a></p>
   {% endif %}

{% endblock %}
