{# src/Acme/HelloBundle/Resources/views/Default/index.html.twig #}
{% extends "WikiGeneralBundle::layout.html.twig" %}

{% block content %}
   <p>{{ page.body|markdown }}</p>
   {% if is_granted('ROLE_ADMIN') %}
     <a class="btn btn-danger" href="{{ path('_wiki_deletePage', {'id': page.id})}}" role="button">Supprimer</a>
   {% endif %}
   
{% endblock %}
