{% extends "WikiGeneralBundle::layout.html.twig" %}

{% block content %}
<div class="row" >
  <div class="col-lg-12" style="margin-top:20px;">
	<div class="alert alert-success" role="alert">{{ text }} a été supprimé avec success</div>
  </div>
</div>

{% endblock %}