<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Aide Markdown" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="article">
        <h3>
        <a name="basic-writing" class="anchor" href="#basic-writing"><span class="octicon octicon-link"></span></a>Basic writing</h3>

        <h4>
        <a name="paragraphs" class="anchor" href="#paragraphs"><span class="octicon octicon-link"></span></a>Paragraphs</h4>

        <p>Paragraphs in Markdown are just one or more lines of consecutive text followed by one or more blank lines.</p>

        <pre><code>On July 2, an alien mothership entered Earth's orbit and deployed several dozen saucer-shaped "destroyer" spacecraft, each 15 miles (24 km) wide.

        On July 3, the Black Knights, a squadron of Marine Corps F/A-18 Hornets, participated in an assault on a destroyer near the city of Los Angeles.
        </code></pre>

        <h4>
        <a name="headings" class="anchor" href="#headings"><span class="octicon octicon-link"></span></a>Headings</h4>

        <p>You can create a heading by adding one or more <code>#</code> symbols before your heading text. The number of <code>#</code> you use will determine the size of the heading.</p>

        <pre><code># The largest heading (an &lt;h1&gt; tag)
        ## The second largest heading (an &lt;h2&gt; tag)
        …
        ###### The 6th largest heading (an &lt;h6&gt; tag)
        </code></pre>

        <h4>
        <a name="blockquotes" class="anchor" href="#blockquotes"><span class="octicon octicon-link"></span></a>Blockquotes</h4>

        <p>You can indicate <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote">blockquotes</a> with a <code>&gt;</code>.</p>

        <pre><code>In the words of Abraham Lincoln:

        &gt; Pardon my french
        </code></pre>

        <h4>
        <a name="styling-text" class="anchor" href="#styling-text"><span class="octicon octicon-link"></span></a>Styling text</h4>

        <p>You can make text <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong"><strong>bold</strong></a> or <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em"><em>italic</em></a>.</p>

        <pre><code>*This text will be italic*
        **This text will be bold**
        </code></pre>

        <p>Both <strong>bold</strong> and <em>italic</em> can use either a <code>*</code> or an <code>_</code> around the text for styling. This allows you to combine both bold and italic if needed.</p>

        <pre><code>**Everyone _must_ attend the meeting at 5 o'clock today.**
        </code></pre>

        <h3>
        <a name="lists" class="anchor" href="#lists"><span class="octicon octicon-link"></span></a>Lists</h3>

        <h4>
        <a name="unordered-lists" class="anchor" href="#unordered-lists"><span class="octicon octicon-link"></span></a>Unordered lists</h4>

        <p>You can make an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">unordered list</a> by preceding list items with either a <code>*</code> or a <code>-</code>.</p>

        <pre><code>* Item
        * Item
        * Item

        - Item
        - Item
        - Item
        </code></pre>

        <h4>
        <a name="ordered-lists" class="anchor" href="#ordered-lists"><span class="octicon octicon-link"></span></a>Ordered lists</h4>

        <p>You can make an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">ordered list</a> by preceding list items with a number.</p>

        <pre><code>1. Item 1
        2. Item 2
        3. Item 3
        </code></pre>

        <h4>
        <a name="nested-lists" class="anchor" href="#nested-lists"><span class="octicon octicon-link"></span></a>Nested lists</h4>

        <p>You can create nested lists by indenting list items by two spaces.</p>

        <pre><code>1. Item 1
          1. A corollary to the above item.
          2. Yet another point to consider.
        2. Item 2
          * A corollary that does not need to be ordered.
            * This is indented four spaces, because it's two spaces further than the item above.
            * You might want to consider making a new list.
        3. Item 3
        </code></pre>

        <h3>
        <a name="code-formatting" class="anchor" href="#code-formatting"><span class="octicon octicon-link"></span></a>Code formatting</h3>

        <h4>
        <a name="inline-formats" class="anchor" href="#inline-formats"><span class="octicon octicon-link"></span></a>Inline formats</h4>

        <p>Use single backticks (<code>`</code>) to format text in a special monospace format. Everything within the backticks appear as-is, with no other special formatting.</p>

        <pre><code>Here's an idea: why don't we take `SuperiorProject` and turn it into `**Reasonable**Project`.
        </code></pre>

        <h4>
        <a name="multiple-lines" class="anchor" href="#multiple-lines"><span class="octicon octicon-link"></span></a>Multiple lines</h4>

        <p>You can use triple backticks (<code>```</code>) to format text as its own distinct block.</p>

        <pre>Check out this neat program I wrote:

        ```
        x = 0
        x = 2 + 2
        what is x
        ```
        </pre>

        <h3>
        <a name="links" class="anchor" href="#links"><span class="octicon octicon-link"></span></a>Links</h3>

        <p>You can create an inline link by wrapping link text in brackets ( <code>[ ]</code> ), and then wrapping the link in parenthesis ( <code>( )</code> ). </p>

        <p>For example, to create a hyperlink to <a href="http://www.github.com">www.github.com</a>, with a link text that says, Visit GitHub!, you'd write this in Markdown: <code>[Visit GitHub!](www.github.com)</code>.</p>
        </div>
      </div>
    </div>
  </div>
</div>